<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>

    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button expand="full" fill="clear" shape="round">
          <ion-icon name="grid-outline"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="end" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>