<ion-header>
	<ion-toolbar>
		<ion-title>CAR</ion-title>

		<ion-buttons slot="start">
			<ion-menu-toggle>
				<ion-button expand="full" fill="clear" shape="round">
					<ion-icon name="grid-outline"></ion-icon>
				</ion-button>
			</ion-menu-toggle>
		</ion-buttons>

	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card button *ngFor="let car of globalVar.car" (click)="showcar(car)">
		<ion-card-header>
			<ion-card-subtitle>{{car.lisance_plate}}</ion-card-subtitle>
			<ion-card-title>Madison, WI</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
			Wisconsin Territory in 1836.
		</ion-card-content>
	</ion-card>

	<ion-fab horizontal="end" vertical="bottom" slot="fixed">
		<ion-fab-button [routerLink]="['/input']" routerLinkActive="router-link-active"  color="primary" route>
			<ion-icon md="add" ios="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
